@using Authorization.Helpers
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">David Williams</strong>
                            </span> <span class="text-muted text-xs block">Art Director @*<b class="caret"></b>*@</span>
                        </span>
                    </a>
                    @*<ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li><a href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Login", "Pages")">Logout</a></li>
                    </ul>*@
                </div>
                <div class="logo-element">
                    MD
                </div>
            </li>
            @if(Model.Permitions.Contains("100"))
            { 
                <li class="@HtmlHelpers.IsSelected(Model.ModuleCode, "100")">
                    <a href="@Url.Page("/Index")"><i class="fa fa-home"></i> <span class="nav-label" data-i18n="nav.dashboard">Главная</span> </a>
                </li>
            }
            @if (Model.Permitions.Contains("300") || Model.Permitions.Contains("310") || Model.Permitions.Contains("320"))
            {
                <li class="@HtmlHelpers.IsSelected(Model.ModuleCode, "300", "310", "320", "330")">
                    <a href="#"><i class="fa fa-hacker-news"></i> <span class="nav-label" data-i18n="nav.otherpages">Орг. Структура</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                    @if (Model.Permitions.Contains("300") || Model.Permitions.Contains("310"))
                    {
                        <li class="@HtmlHelpers.IsSelected(Model.ModuleCode, "300", "310")"><a href="@Url.Page("/Structure/Index")">Отделы</a></li>
                    }
                    @if (Model.Permitions.Contains("320"))
                    {
                        <li class="@HtmlHelpers.IsSelected(Model.ModuleCode, "320")"><a href="@Url.Page("/Structure/Teams")">Команды</a></li>
                    }
                    @if (Model.Permitions.Contains("330"))
                    {
                        <li class="@HtmlHelpers.IsSelected(Model.ModuleCode, "330")"><a href="@Url.Page("/Structure/Employee/Index")">Сотрудники</a></li>
                    }
                    </ul>
                </li>
            }
            @if (Model.Permitions.Contains("200") || Model.Permitions.Contains("210") || Model.Permitions.Contains("211") || Model.Permitions.Contains("220"))
            {
                <li class="@HtmlHelpers.IsSelected(Model.ModuleCode, "200", "210", "211", "220")">
                    <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label" data-i18n="nav.otherpages">Настройки</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                    @if (Model.Permitions.Contains("220"))
                    {
                        <li class="@HtmlHelpers.IsSelected(Model.ModuleCode, "220")"><a href="@Url.Page("/Settings/Users/Index")">Аккаунты</a></li>
                    }
                    @if (Model.Permitions.Contains("210") || Model.Permitions.Contains("211"))
                    { 
                        <li class="@HtmlHelpers.IsSelected(Model.ModuleCode, "210", "211")"><a href="@Url.Page("/Settings/RoleModel/Index")">Ролевая модель</a></li>
                    }
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav>